@import url('https://fonts.googleapis.com/css?family=Spectral:500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600i');


nav{
	list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
	width: 100%;
	
}


li {
  font-style: italic;
}

ol {
  font-weight: bold;
}

h1 {
  padding-top:70px;
  font-size: 26px;
  color: #046380;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Spectral", serif;
}


h3 {
  font-size: 22px;
  color: #046380;
  text-align: center;
  font-family: "Spectral", serif;
}

.headForm{
	text-align: center;
	padding:4px 8px 0;
}
.formOverImg{
	margin-top: -30%;
}
.App {
	text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
	font-size: 62.5%;
}
body {
	background-color: #eee;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #666;
}

a {
	margin: 20px 30px 0px 0px;
	font-family: "Spectral", serif;
	text-decoration: none;
	color: #3498db;
}
	a:hover {
		color: #2980b9;
	}

h2 {
	line-height: 1.2;
	margin-bottom: 1.8rem;
}

.wrapper {
	max-width: 800px;
	margin: 50px auto;
	padding-left: 1em;
	padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.8rem; padding-bottom: 1.8rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 1.8rem;
}

.card__padding {
	padding: 1.8rem;
}

.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		max-height: 300px;
	}

.card__content {
	position: relative;
}

/* card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.card__article a:hover {
		color: #2980b9;
	}

/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.8rem;
	padding-left: 1.8rem;
	padding-bottom: 1.8rem;
}

.card__author {}

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
	}

	.card__author img{
		border-radius: 50%;
		margin-right: 0.6em;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.card__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow:
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow:
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #00abe3;
}
.googleplus {
	background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
	color: #fff;
}

	.facebook:hover,
	.twitter:hover,
	.googleplus:hover {
		color: #eee;
	}
